/*
    In this file you need to do the following:
    1) styling the table on which the game will be, black borders and fixed heights and widths.
    2) making XBlock class and OBlock class which will be used later for the game when the user presses a block.
*/

body {
    background-color:white;
}

#firstRow {
    width: 150px;
    height: 150px;
}

table {
    table-layout: fixed;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-radius: 5px;
}

td {
    border: 5px solid white;
    cursor: default;
    width: 150px;
    height: 150px;
    color: #c43939;
    font-size: 100px;
    text-align: center;
}

td:hover {
    background-color: white;
   }

/*
    #topLine {
    border: 5px solid black;
    margin-bottom: -110px;
    margin-top: 100px;
    }
*/

/*
    #yellowCell {
    background: -webkit-gradient(linear, left top, right top, color-stop(45%,#e7dd41), color-stop(45%,white));
}
*/

/*
    #yellowCell:hover {
        background: -webkit-gradient(linear, left top, right top, color-stop(45%,white), color-stop(45%,#e7dd41));
    }

*/

/*
hr {
    border: 5px solid white;
    margin-top: -10px;
}
*/

#myButton {
    margin-top:10px;
    margin-bottom:-60px;
    height: 50px;
    width: 100px;
    background-color: #333a44;
    color: white;
    border: none;
    font-family:sans-serif;
    font-size:16px;
}

#myButton:hover {
    color: #c43939;
    }

div {
    background-color: #333a44;
}

.Oblock {
}

.Xblock {
}
