/*
    In this file you need to do the following:
    1) styling the table on which the game will be, black borders and fixed heights and widths.
    2) making XBlock class and OBlock class which will be used later for the game when the user presses a block.
*/

body {
    background:url("borders.jpg");
}

#firstRow{
    width:150px;;
    height:150px;
}

table {
    table-layout:fixed;
    height: 500px;
    width: 500px;
    margin:auto;
    margin-top:100px;
    border-spacing:0px;
    border-collapse:collapse;
}

td {
    border: 6px solid black;
    cursor:default;
    width:150px;
    height:150px;
    color:black;
    font-size:100px;;
    text-align:center;
}

#yellowCell{
   background:-webkit-gradient(linear, left top, right top, color-stop(45%,#e7dd41), color-stop(45%,white));
}

.Oblock {
}

.Xblock {
}
